* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;

  color: #fff;
  list-style: none;
}
body {
  background-color: #040304;
}
.Wrapper {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
